################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SVT-Robotics-TakeHome/.vs
/SVT-Robotics-TakeHome/SVT-Robotics-TakeHome/obj
/.vs/SVT-Robotics-TakeHome/v16
/SVT-Robotics-TakeHome/SVT-Robotics-TakeHome/bin/Debug/netcoreapp3.1
/SVT-Robotics-TakeHome/UnitTests/bin/Debug/netcoreapp3.1
/SVT-Robotics-TakeHome/UnitTests/obj/Debug/netcoreapp3.1
/SVT-Robotics-TakeHome/UnitTests/obj
